.App {
  padding: 15px;
  text-align: right;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  margin: auto;
  border: 1px solid #ccc;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.forms{
  text-align: center;
}
